{{#partial "head"}}

{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<script type="text/javascript" nonce="{{nonce}}">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

<script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
<script>
    Weglot.initialize({
        api_key: 'wg_72487831aec25adf255bece854fad4424',
        hide_switcher: true,
        cache: true,
    });

    fetch('/api/storefront/carts', {
        method: 'GET',
        credentials: 'same-origin',
    })
    .then(response => response.json())
    .then(data => {
        if (!data.length) return;
        setTimeout(() => Weglot.switchTo(data[0]?.locale), 500);
    });
</script>

{{{head.scripts}}}

{{/partial}}

<pre>
{{{JSONstringify this}}}
</pre>

{{#partial "page"}}
<header class="checkoutHeader optimizedCheckout-header">
    <div class="checkoutHeader-content">
        <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
        <div class="checkoutHeader-heading">
            <a class="checkoutHeader-link" href="{{urls.home}}">
                <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage" src="{{cdn 'assets/img/Logo.svg'}}"/>
            </a>
        </div>
        <div>
            <a class="checkoutHeader-continueShoppingLink" href="{{urls.home}}">
                Continue Shopping
            </a>
        </div>
    </div>
</header>

<div class="layout checkout-heading-layout">
    <h2 class="checkout-heading">Checkout</h2>
</div>

{{{ checkout.checkout_content }}}

{{{ footer.scripts }}}

{{/partial}}

{{> layout/empty}}
