{{#partial "head"}}

{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<script type="text/javascript" nonce="{{nonce}}">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

{{{head.scripts}}}

{{/partial}}

{{#partial "page"}}
<header class="checkoutHeader optimizedCheckout-header">
    <div class="checkoutHeader-content">
        <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
        <div class="checkoutHeader-heading">
            <a class="checkoutHeader-link" href="{{urls.home}}">
                <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage" src="../../assets/img/Logo.svg"/>
            </a>
        </div>
        <div>
            <a class="checkoutHeader-continueShoppingLink" href="https://lotuscooking.com">
                Continue Shopping
            </a>
        </div>
    </div>
</header>

<div class="layout checkout-heading-layout">
    <h2 class="checkout-heading">Checkout</h2>
</div>

{{{ checkout.checkout_content }}}

{{{ footer.scripts }}}

{{/partial}}

{{> layout/empty}}
