{{#partial "head"}}
{{{ checkout.checkout_head }}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

<script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
<script>
    Weglot.initialize({
        api_key: 'wg_72487831aec25adf255bece854fad4424',
        hide_switcher: false,
        cache: true,
    });
    Weglot.switchTo(window.language.locale);
</script>

{{{head.scripts}}}

{{/partial}}

{{#partial "page"}}
<header class="checkoutHeader optimizedCheckout-header">
    <div class="checkoutHeader-content">
        <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
        <h2 class="checkoutHeader-heading">
            <a class="checkoutHeader-link" href="{{urls.home}}">
                <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage" src="{{cdn 'assets/img/Logo.svg'}}"/>
            </a>
        </h2>
    </div>
</header>

{{{ checkout.order_confirmation_content }}}

{{{ footer.scripts }}}

{{/partial}}

{{> layout/empty}}
