// =============================================================================
// Stencil Checkout - Customize the Optimized Single-Page Checkout experience
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Please do not nest elements within class selectors, and do not use class selectors other than those given below.
// Future support is guaranteed only if class selectors' structure and naming are left unchanged.
//
// =============================================================================

//
// Header Section
// Background, Logo Position
// -----------------------------------------------------------------------------

*:focus {
    outline-color: stencilColor("optimizedCheckout-colorFocus");
}

*::selection {
    background-color: stencilColor("optimizedCheckout-colorFocus");
    color: #ffffff;
}

.optimizedCheckout-header {
    background-color: stencilColor("optimizedCheckout-header-backgroundColor");
    /* stylelint-disable function-url-quotes*/
    background-image: url(stencilImage('optimizedCheckout-backgroundImage', 'optimizedCheckout-backgroundImage-size'));
    /* stylelint-enable */
    background-size: cover;
    border-color: stencilColor("optimizedCheckout-header-borderColor");
    color: stencilColor("optimizedCheckout-header-textColor");

    //
    // TODO:
    // Configure media query to be 'desktop' breakpoint size
    // -----------------------------------------------------------------------------
    @media (min-width: 801px) {
        text-align: stencilString("optimizedCheckout-logo-position");
    }
}

//
// Primary and Secondary Headings
// Text Color & Typography
// .optimizedCheckout-headingPrimary styles top-level headings.
// .optimizedCheckout-headingSecondary styles certain lower-level elements, such as descriptions of cart items.
// -----------------------------------------------------------------------------

.optimizedCheckout-headingPrimary {
    color: stencilColor("optimizedCheckout-headingPrimary-color");
    font-family: stencilFontFamily("optimizedCheckout-headingPrimary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-headingPrimary-font");
}

.optimizedCheckout-headingSecondary {
    color: stencilColor("optimizedCheckout-headingSecondary-color");
    font-family: stencilFontFamily("optimizedCheckout-headingSecondary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-headingSecondary-font");
}

//
// Body
// Background & Shipping Method Overlay
// -----------------------------------------------------------------------------

body {
    background-color: stencilColor("optimizedCheckout-body-backgroundColor");
}

.optimizedCheckout-overlay {
    background-color: stencilColor("optimizedCheckout-body-backgroundColor");
    border-color: stencilColor("optimizedCheckout-step-borderColor");
    color: stencilColor("optimizedCheckout-contentPrimary-color");
}

//
// Primary & Secondary Content
// Text Color & Typography
// .optimizedCheckout-contentPrimary styles body text in the Order Summary/Order Confirmation; drop-down-list items; and text that summarizes completed steps.
// .optimizedCheckout-contentSecondary styles check boxes' text labels, and lower-level text in the Order Summary.
// -----------------------------------------------------------------------------

.optimizedCheckout-contentPrimary {
    color: stencilColor("optimizedCheckout-contentPrimary-color");
    font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-contentPrimary-font");
}

.optimizedCheckout-contentSecondary {
    color: stencilColor("optimizedCheckout-contentSecondary-color");
    font-family: stencilFontFamily("optimizedCheckout-contentSecondary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-contentSecondary-font");
}

//
// Primary Button
// Background & Border & Text Color & Typography
// Styles the CONTINUE button for each step, & the final confirmation button.
// -----------------------------------------------------------------------------

.optimizedCheckout-buttonPrimary, .cart-modal-continue, .button--small {
    position: relative;
    isolation: isolate;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColor");
    border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColor");
    color: stencilColor("optimizedCheckout-buttonPrimary-color");
    border-radius: 6px;
    font-size: 16px;
    max-height: 48px;
    text-transform: initial;
    font-family: stencilFontFamily("optimizedCheckout-buttonPrimary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-buttonPrimary-font");
    overflow: hidden;

    &:focus,
    &:hover {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorHover");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorHover");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorHover");

        &:after {
            transform: translateX(0);
        }
    }

    &:focus {
        border-color: stencilColor("optimizedCheckout-colorFocus");
        box-shadow: 0 0 3px stencilColor("optimizedCheckout-colorFocus");
    }

    &:active {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorActive");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorActive");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorActive");
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled].is-active,
    &[disabled].is-loading,
    &[disabled].active {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorDisabled");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorDisabled");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorDisabled");
    }
}

//
// Secondary Button
// Background & Border & Text Color & Typography
// Styles the EDIT button for each step.
// -----------------------------------------------------------------------------

.optimizedCheckout-buttonSecondary {
    position: relative;
    isolation: isolate;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColor");
    border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColor");
    color: stencilColor("optimizedCheckout-buttonSecondary-color");
    font-family: stencilFontFamily("optimizedCheckout-buttonSecondary-font"), Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-height: 48px;
    border-radius: 6px;
    text-transform: initial;
    font-weight: stencilFontWeight("optimizedCheckout-buttonSecondary-font");
    overflow: hidden;

    &:focus,
    &:hover {
        background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColorHover");
        border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColorHover");

        &:after {
            transform: translateX(0);
        }
    }

    &:focus {
        border-color: stencilColor("optimizedCheckout-colorFocus");
        box-shadow: 0 0 3px stencilColor("optimizedCheckout-colorFocus");
    }

    &:active {
        background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColorActive");
        border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColorActive");
        color: stencilColor("optimizedCheckout-buttonSecondary-colorActive");
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled].is-active,
    &[disabled].is-loading,
    &[disabled].active {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorDisabled");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorDisabled");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorDisabled");
    }

    &.button--tertiary:hover {
        color: stencilColor("optimizedCheckout-buttonSecondary-color");
    }
}

//
// Links
// Text Color & Typography
// -----------------------------------------------------------------------------

a {
    color: stencilColor("optimizedCheckout-link-color");
    font-family: stencilFontFamily("optimizedCheckout-link-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-link-font");

    &:focus,
    &:hover {
        color: stencilColor("optimizedCheckout-link-hoverColor");
    }
}

//
// Order Summary (Mobile Drawer & Modal)
// Background Color
// -----------------------------------------------------------------------------

.optimizedCheckout-orderSummary {
    background-color: stencilColor("optimizedCheckout-orderSummary-backgroundColor");
    border-color: stencilColor("optimizedCheckout-orderSummary-borderColor");
}

.optimizedCheckout-orderSummary-cartSection {
    border-color: stencilColor("optimizedCheckout-orderSummary-borderColor");
}

.optimizedCheckout-checkoutStep {
    border-color: stencilColor("optimizedCheckout-step-borderColor");
}

//
// Checkout Steps
// Background & Text Color
// Styles the large step-number indicators on the page's left side.
// -----------------------------------------------------------------------------

.optimizedCheckout-step {
    background-color: stencilColor("optimizedCheckout-step-backgroundColor");

    &::before {
        color: stencilColor("optimizedCheckout-step-textColor");
    }

    svg {
        fill: stencilColor("optimizedCheckout-step-textColor");
    }
}

//
// Form Labels
// Text Color
// Styles text labels on form fields.
// -----------------------------------------------------------------------------

.optimizedCheckout-form-label {
    color: stencilColor("optimizedCheckout-form-textColor");
}

.form-field--error {
    .optimizedCheckout-form-label,
    .form-inlineMessage {
        color: stencilColor("optimizedCheckout-formField-errorColor");
    }
}
//
// Form Input
// Background, Border, Shadow and Text Color
// Styles form fields.
// -----------------------------------------------------------------------------

$optimizedCheckout-input-boxShadow: inset 0 1px 1px stencilColor("optimizedCheckout-formField-shadowColor");
$optimizedCheckout-input--focus-boxShadow: 0 0 3px transparentize(stencilColor("optimizedCheckout-colorFocus"), 0.4);
$optimizedCheckout-input--error-boxShadow: 0 0 3px transparentize(stencilColor("optimizedCheckout-formField-errorColor"), 0.4);

.optimizedCheckout-form-input,
.optimizedCheckout-form-select {
    background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
    border-color: stencilColor("optimizedCheckout-formField-borderColor");
    box-shadow: $optimizedCheckout-input-boxShadow;
    color: stencilColor("optimizedCheckout-formField-textColor");

    &::placeholder {
        color: stencilColor("optimizedCheckout-formField-placeholderColor");
    }

    .form-field--error & {
        background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
        border-color: stencilColor("optimizedCheckout-formField-errorColor");
        box-shadow: $optimizedCheckout-input--error-boxShadow, $optimizedCheckout-input-boxShadow;
    }
}

.optimizedCheckout-form-input:focus,
.optimizedCheckout-form-select:focus,
.optimizedCheckout-form-select:hover {
    background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
    border-color: stencilColor("optimizedCheckout-colorFocus");
    box-shadow: none;
}

.optimizedCheckout-form-label::before {
    .optimizedCheckout-form-radio + &,
    .optimizedCheckout-form-checkbox + & {
        background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
        border-color: stencilColor("optimizedCheckout-formField-borderColor");
        box-shadow: $optimizedCheckout-input-boxShadow;
        opacity: 1;
    }

    .optimizedCheckout-form-radio:checked + &,
    .optimizedCheckout-form-checkbox:checked + & {
        background-color: stencilColor("optimizedCheckout-formField-inputControlColor");
        border-color: stencilColor("optimizedCheckout-formField-inputControlColor");
        box-shadow: none;
    }

    .optimizedCheckout-form-radio:focus + &,
    .optimizedCheckout-form-checkbox:focus + & {
        border-color: stencilColor("optimizedCheckout-colorFocus");
        box-shadow: $optimizedCheckout-input--focus-boxShadow, $optimizedCheckout-input-boxShadow;
    }

    .optimizedCheckout-form-radio:focus:checked + &,
    .optimizedCheckout-form-checkbox:focus:checked + & {
        box-shadow: $optimizedCheckout-input--focus-boxShadow;
    }
}

//
// Discount Banners
// Background & Text & Icon Color
// Styles discount banners.
// -----------------------------------------------------------------------------

.optimizedCheckout-discountBanner {
    background-color: stencilColor("optimizedCheckout-discountBanner-backgroundColor");
    color: stencilColor("optimizedCheckout-discountBanner-textColor");
    font-family: stencilFontFamily("optimizedCheckout-link-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-link-font");

    svg {
        fill: stencilColor("optimizedCheckout-discountBanner-iconColor");
    }
}

//
// Form Checklist (Shipping / Payment methods)
// Background & Border & Text Color
// Styles form checklists
// -----------------------------------------------------------------------------

.optimizedCheckout-form-checklist {
    background-color: stencilColor("optimizedCheckout-formChecklist-backgroundColor");
    border-color: stencilColor("optimizedCheckout-formChecklist-borderColor");
    color: stencilColor("optimizedCheckout-formChecklist-color");
    overflow: hidden;
}

.optimizedCheckout-form-checklist-item {
    background-color: stencilColor("optimizedCheckout-formChecklist-backgroundColor");
    border-color: stencilColor("optimizedCheckout-formChecklist-borderColor");
}

.optimizedCheckout-form-checklist-item:hover,
.optimizedCheckout-form-checklist-item--selected {
    background-color: #ffffff;
    border-color: stencilColor("optimizedCheckout-formChecklist-borderColor");
}

.optimizedCheckout-form-checklist-checkbox {
    ~ .form-label::after,
    ~ .form-label::before {
        background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
        border-color: stencilColor("optimizedCheckout-formField-borderColor");
    }

    &:focus ~ .form-label {
        box-shadow: inset 0 0 0 1px stencilColor("optimizedCheckout-colorFocus");
    }

    &:checked ~ .form-label::before {
        border-color: stencilColor("optimizedCheckout-formField-inputControlColor");
    }

    &:checked ~ .form-label::after {
        background: stencilColor("optimizedCheckout-formField-inputControlColor");
    }
}

//
// Loading Toaster
// Background & Text Color
// Styles the Loading Toaster
// -----------------------------------------------------------------------------

.optimizedCheckout-loadingToaster {
    background-color: stencilColor("optimizedCheckout-loadingToaster-backgroundColor");
    color: stencilColor("optimizedCheckout-loadingToaster-textColor");
}

// Custom styles for the cart
// -----------------------------------------------------------------------------

a:not(.checkoutHeader-link):not(.form-input-icon):not(.button):not(.cart-modal-close) {
    position: relative;
    isolation: isolate;
    display: inline-block;

    &:after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #b0c3ac;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}

header.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// layouts
.checkoutHeader-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0 16px;
    padding-block: 2rem;

    &:before, &:after {
        content: none;
    }
}

.checkout-heading-layout {
    min-height: auto;
    padding-block-start: 32px;
    padding-block-end: 48px;
}

.layout {
    padding-inline: 16px;

    @media (min-width: 551px) {
        padding-inline: 32px;
    }

    &.optimizedCheckout-contentPrimary > div {
        @media (min-width: 969px) {
            display: flex;
            flex-direction: row;
            gap: 32px;
        }
    }
}

.layout-main {
    padding: 0;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    overflow: hidden;
    float: none;
}

.layout-cart {
    padding: 0;
    float: none;

    .cart {
        margin-top: 0;
        border: none;
        box-shadow: none;
    }
}
// end layouts

// checkout header
.checkoutHeader {
    min-height: auto;
    border-bottom: none;
}

.checkoutHeader-heading {
    font-size: 1.75rem;
}

.checkout-heading {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 120%;
    font-family: stencilFontFamily("headings-font"), "Playfair Display", serif;;

    @media (min-width: 551px) {
        font-size: 40px;
    }
}

.optimizedCheckout-header {
    background-color: #fff;
}
// end checkout header

// checkout button container
.checkout-button-container {
    margin: 0;
    padding: 16px 16px 0 16px;

    @media (min-width: 551px) {
        padding: 32px 32px 0 32px;
    }

    p {
        font-family: "Jost", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1.8px;

        @media (min-width: 551px) {
            font-size: 24px;
        }
    }

    .checkoutRemote {
        grid-gap: 30px;
    }
}
// end checkout button container

// checkout steps
.checkout-steps {
    padding: 0;
}

.checkout-step {
    padding: 16px;

    @media (min-width: 551px) {
        padding: 32px;
    }
}

.stepHeader {
    padding: 0;
}

.stepHeader-body:empty {
    display: none;
}

.stepHeader-title, .cart-title {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 120%;
    letter-spacing: 1.8px;

    @media (min-width: 551px) {
        font-size: 24px;
    }
}
// end checkout steps

// form actions
.form-actions {
    margin-bottom: 0;

    > * {
        vertical-align: bottom;
        margin: 0;

        + * {
            margin-top: 16px;
        }
    }

    @media (min-width: 551px) {
        max-width: max-content;
    }
}

.customerEmail-container {
    .form-actions {
        @media (min-width: 551px) {
            max-width: none;
        }
    }
}

.form-field--error .optimizedCheckout-form-input,
.form-field--error .optimizedCheckout-form-select {
    box-shadow: none;
    border-color: #ff3333 !important;
}

.form-field--error .form-inlineMessage {
    color: #ff3333;

    &:before {
        content: '';
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23ff3333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/></svg>');
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 24px;
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;

    &:before, &:after {
        content: none;
    }

    .floating-input:not(:focus),
    .floating-select:not(:focus),
    .floating-textarea {
        border-color: #d1d1d1;
    }

    .floating-label {
        position: static;
        order: -1;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        color: #131313 !important;
    }

    .floating-input,
    .floating-select {
        padding-top: 0;
        background-color: #fff;
    }

    .floating-select-chevron {
        top: 42px;
    }

    input:focus + .floating-label {
        line-height: 24px;
        font-size: 14px;
    }

    + .form-field {
        margin-top: 16px;
    }
}

.paymentMethod {
    .form-ccFields {
        display: flex;
        flex-direction: column;

        @media (min-width: 551px) {
            flex-direction: row;
        }
    }

    .form-field + .form-field {
        margin-top: 0;
    }
}

.form-legend-container {
    margin: 0;
    margin-block: 16px;
}

.form-field-password {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-toggle-password {
    top: 68%
}

.form-checkbox+.form-label {
    margin-bottom: 0;
}

.form-field input:not(:placeholder-shown) + .floating-label,
.form-field select + .floating-label,
.form-field input:focus + .floating-label small {
    line-height: 24px;
    font-size: 14px;
}

.form-checkbox:checked + .form-label::before,
.form-radio:checked + .form-label::before {
    background-color: #6E9365;
    border-color: #6E9365;
}

.form-checklist {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: none;

    .form-checklist-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid #d1d1d1;
        border-radius: 8px;
        padding: 16px;

        > * {
            flex: 1 1 auto;
        }

        .form-checklist-body {
            margin: 0;
            flex: 1 1 100%;
        }
    }

    .form-checklist-checkbox~.form-label {
        padding-right: 0;
    }
}

.customerEmail-container {
    display: flex;
    align-items: center;
    gap: 16px;

    &:before, &:after {
        content: none;
    }

    .form-field:first-child {
        margin-bottom: 16px;
    }

    + p {
        margin-top: 32px;
    }
}

.create-account-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .dynamic-form-field.floating-form-field {
        padding: 0;
    }

    .dynamic-form-field {
        margin: 0;
    }
}

.checkout-address {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .dynamic-form-field.floating-form-field {
        margin-bottom: 0;
        padding: 0;
    }
}

.customerEmail-action {
    flex: 1 1 calc(45% - 16px);
    margin: 0;
    float: none;

    button {
        margin: 0;
    }
}

.checkout-view-header {
    margin-bottom: 32px;
}

.checkoutHeader-link {
    font-family: stencilFontFamily("headings-font"), "Jost", serif;
    font-weight: 600;
}

.checkoutHeader-language {
    display: flex;
    align-items: center;
    gap: 16px;
}

.form-checklist-checkbox~.form-label::before,
.form-checklist-checkbox~.form-label::after {
    left: 0;
}

.optimizedCheckout-form-checkbox:checked + .optimizedCheckout-form-label::before {
    background-color: #6E9365;
    border-color: #6E9365;
}

.optimizedCheckout-form-checklist-checkbox:checked ~ .form-label::before {
    border-color: #6E9365;
}

.optimizedCheckout-form-checklist-checkbox:checked ~ .form-label::after {
    background-color: #6E9365;
}

.optimizedCheckout-form-checklist-checkbox:focus ~ .form-label {
    box-shadow: none;
}

.optimizedCheckout-form-input:focus,
.optimizedCheckout-form-select:focus {
    border-color: #6E9365;
}

[role="combobox"] {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

// end form actions

// checkout styles
.modal-header {
    padding-top: 48px;
}

.cart-header {
    @media (min-width: 969px) {
        padding: 0 0 16px;
    }
}

.cart-modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cart-modal-title {
    width: 65%;
}

.cart-modal-body {
    padding-inline: 16px;
}

.cart-section-heading {
    margin-bottom: 16px;
}

.stepHeader {
    flex-wrap: wrap;
}

.stepHeader-body {
    order: 4;
}

.stepHeader-actions {
    margin-left: auto;
}

.modal-header-title {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 1.8px;
}

.modal-header-title > div {
    text-align: left;
    text-transform: uppercase;
}

.modal-header-title .cart-heading-subheader {
    padding-block: 16px;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: normal;
    text-transform: none;
}

.cart-modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-block;
}

.modal-header-link {
    order: 9999;
}

.modal.modal--afterOpen .button--tertiary {
    border: 1px solid stencilColor("optimizedCheckout-buttonSecondary-borderColor") !important;
    background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColor") !important;

    &:hover {
        background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColorHover") !important;
    }
}

.button--tertiary:hover,
.button--tertiary:focus,
.button--tertiary.is-active,
.button--tertiary.active {
    color: stencilColor("optimizedCheckout-buttonSecondary-color") !important;
}

.cart-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;

    + .cart-section {
        padding-block: 20px;
    }

    .redeemable-label {
        align-self: flex-start;
    }

    @media (min-width: 551px) {
        border-top: none;

        span {
            font-size: 14px;
        }

        &:last-child {
            border-top: 1px solid #D1D1D1;
        }
    }
}

.cart-priceItem {
    margin: 0;
}

.productList {
    @media (min-width: 969px) {
        border-top: 1px solid #D1D1D1;
        border-bottom: 1px solid #D1D1D1;
    }
}

.productList-item {
    margin: 0;
    padding-block: 16px;

    & + .productList-item {
        border-top: 1px solid #D1D1D1;
    }

    .product {
        align-items: flex-start;
        gap: 16px;
    }

    .product-figure {
        width: 96px;
        height: 96px;
        aspect-ratio: 1/1;
        padding: 0;
        border-radius: 8px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .product-body {
        order: unset;
        width: auto;
        max-width: 165px;
    }

    .product-title {
        font-size: 14px;
        line-height: 150%;

        @media (min-width: 969px) {
            font-size: 16px;
        }
    }

    .product-actions {
        align-self: flex-start;
        margin-left: auto;
        font-size: 16px;
        line-height: 150%;
    }
}

.cart-priceItem-label > span, .cart-priceItem-value > span {
    font-size: 16px !important;
    line-height: 150% !important;
}

.dropdown-toggle--select:focus,
.dropdown-toggle--select:hover {
    border-color: #333333 !important;
}

.dropdown-menu,
.dropdown-menu--content {
    box-shadow: none;
}

.dropdown-menu {
    border-color: #333333;
}

.dropdown-menu-item--select {
    border-bottom: 1px solid #333333 !important;

    &:last-child {
        border-bottom: none !important;
    }

    a {
        &:after {
            content: none !important;
        }
    }
}

.button:focus {
    box-shadow: none !important;
}
// end checkout styles

// order confirmation styles
.orderConfirmation {
    padding: 0;

    .optimizedCheckout-headingPrimary {
        font-family: "Playfair Display", serif;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -0.8px;
        text-transform: uppercase;

        @media (min-width: 969px) {
            font-size: 60px;
            letter-spacing: -1.2px;
        }
    }

    p, span {
        font-size: 16px;
        line-height: 150%;
    }
}

.layout.optimizedCheckout-contentPrimary:has(.orderConfirmation) {
    display: flex;
    gap: 80px;
    padding-block: 32px;

    &:before, &:after {
        content: none;
    }

    @media (min-width: 969px) {
        padding-block: 64px;
    }
}

.layout-main:has(.orderConfirmation) {
    border: none;
}

.checkoutHeader.optimizedCheckout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline-end: 16px;

    @media (min-width: 767px) {
        padding-inline-start: 16px;
        padding-inline-end: 32px;
    }
}

// checkout footer
.checkout-footer {
    padding-block: 48px;

    .layout {
        min-height: auto;
    }

    @media (min-width: 969px) {
        margin-block-start: 64px;
    }
}

.checkout-footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 969px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.checkout-footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0;
    @media (min-width: 969px) {
        flex-direction: row;
        gap: 32px;
    }
}

.checkout-footer-link-item {
    a {
        font-size: 14px;
        font-weight: 400;
        color: #7D7D7D;
        line-height: 24px;

        &:hover {
            color: #6E9365;
        }

        &:after {
            content: none !important;
        }
    }
}

.checkout-footer-copyright {
    font-size: 14px;
    line-height: 24px;
    color: #7D7D7D;
}
// end checkout footer

.form-select.nav-locale-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="none" stroke="currentColor" stroke-width="1" d="M4 6l4 4 4-4"/></svg>');
    background-size: 16px;
    background-position: right 16px center;
    background-repeat: no-repeat;
    min-width: 85px;
    max-height: 40px;
    padding: 8px 16px 8px 20px;

    &:focus {
        border-color: #6E9365;
    }
}

.checkoutHeader-continueShoppingLink {
    font-size: 16px;
}

.optimizedCheckout-contentPrimary {
    &.customerView-body,
    .checkout-address--static,
    .shippingOption--selected,
    .cart-priceItem-postFix {
        color: #7D7D7D;
        font-size: 14px;
        font-weight: 400;
    }
}

.cartDrawer-total {
    font-size: 18px;
}

.alertBox.alertBox--error {
    padding: 0;
    background-color: #ffffff !important;
    color: #ff3333 !important;

    .alertBox-column.alertBox-icon {
        padding-right: 4px;
    }

    .icon {
        svg {
            display: none;
        }

        &:before {
            content: '';
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23ff3333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/></svg>');
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 24px;
        }
    }
}

p {
    font-size: 16px;
}

.paymentProviderHeader-container {
    align-items: center !important;
}

.form-checklist .form-checklist-checkbox ~ .form-label {
    display: flex;

    > * {
        width: 100%;
    }
}

.dropdown-menu-item.dropdown-menu-item--select {
    position: relative;

    > a {
        display: block !important;

        &:after {
            content: '' !important;
            position: absolute !important;
            inset: 0 !important;
            background-color: unset !important;
        }
    }
}
